<table>
    @for (int i = 1; i < 10; i++)
    {
        <tr>
            <td>10</td>
            <td>*</td>
            <td>@i</td>
            <td>=</td>
            <td>@(10*i)</td>
        </tr>
    }
</table>
