@{
    ExoMVC.Services.ProductCategoryService service = new ExoMVC.Services.ProductCategoryService();
    List<ExoMVC.Models.ProductCategory> lst = service.GetAll();
}
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Home/Index">ASP.NET MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (Session["admin"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" aria-current="page" href="/ProductCategory/Index">Category Managment</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" aria-current="page" href="/Product/Index">Product Managment</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" aria-current="page" href="/User/Index">User Managment</a>
                            </li>
                        }


                        @if (Session["user"] != null)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" aria-current="page" href="/Login/Logout">Logout</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" aria-current="page" href="/Login/Index">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" aria-current="page" href="/Login/Create">Create Account</a>
                            </li>
                        }


                    </ul>
                    <form action="/Home/Index" class="d-flex" role="search" method="get">
                        @Html.DropDownList("Category", new SelectList(lst, "Name", "Name"), "--Select--", new { @class = "form-control" })

                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
